body {
    margin: 0;
    font-family: Roboto, sans-serif;;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 160px;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0 10px;
    padding: 4px;
}

/* first section */
.header-content {
    display: flex;
    background-color: #1F2937;
    padding: 60px 0;
    gap: 40px;
}

.header-content-left {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 160px;
}

.header-content h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.header-content p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    margin: 0;
}

button {
    background: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 24%;
    margin-top: 10px;
}

.header-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 160px;
}

.header-content-right img {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

/* second section */
.content-info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 16px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.p-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
}

/* third section */
.content-quote {
    background-color: #E5E7EB;
    height: 400px;
    padding: 150px 50px 0 50px;
}

.content-quote h2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.content-quote p {
    display: flex;
    justify-content: right;
    margin-right: 300px;
    align-items: center;
    font-size: 18px;
    color: #1F2937;
}

/* fourth section */
.content-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.content-action-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 60px 160px;
    border-radius: 8px;
}

.content-action button {
    color: white;
    border: 2px solid white;
    width: 120px;
}

.content-action h2 {
    color: white;
    margin: 0;
}

.content-action p {
    color: #E5E7EB;
    font-weight: lighter;
    margin: 0;
    margin-top: 4px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #E5E7EB;
}